@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.class-preview-container{
    background-color: white;
    position: relavite;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 80px 30px 30px 30px;
    font-family: "Rubik", sans-serif;
}

hr{
    width: 600px;
    margin-left: -30px;
    color: #f5f5f5;
    color: black;
    height: 2px;
    border: none;
    background-color: #f5f5f5;
}


.class-operations-buttons{
    position: absolute;
    top: 5px;
    left: 5px;
}



.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #ce93d8;
    border-radius: 50%;
}
.header-icon{
    color: white;
    font-size: 2.5rem;
}
.header-text{
    margin-top: 7.5px;
}


.class-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
}
.class-info p{
    font-weight: bold;
    margin-bottom: 2px;
}
.class-info small{
    color: grey;
}
.class-info .fa{
    font-size: 1.5rem;
}

.remark{
    text-align: left;
}
.remark-header{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 0.9rem;
}
.remark-text{
    padding-top: 0;
    font-size: 0.8rem;
}


.class-operations-buttons{
    display: flex;
    gap: 0;
}
.class-operations-buttons .btn{
    height: 40px;
    background-color: transparent;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}
.class-operations-buttons .btn:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}
.class-operations-buttons .cancel-class-btn{
    color: #f44336;
    display: flex;
    align-items: center;
    gap: 10px;
}

.class-operations-buttons .edit-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-icon{
    font-size: 1.2rem;
}

.cancel-class-icon{
    font-size: 1.2rem;
    color: #f44336;
}