@import url('https://fonts.googleapis.com/css2?family=Calibri');

:root{
    --container-side-padding: 30px;
    --hr-height: 1px;
    --hr-width: calc(100% + calc(var(--container-side-padding) * 2));

    --container-mobile-side-padding: 10px;
    --hr-mobile-width: calc(100% + calc(var(--container-mobile-side-padding) * 2))
}

.class-preview-container{
    background-color: white;
    position: relavite;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    padding: 0 var(--container-side-padding);
    font-family: "Calibri", sans-serif;
}

hr{
    width: calc(var(--hr-width) - calc(2 * var(--hr-height)));
    margin-left: calc(-1 * var(--container-side-padding));
    height: var(--hr-height);
    background-color: #f5f5f5;
    border: var(--hr-height) solid #f5f5f5;
}


.class-operations-buttons{
    position: absolute;
    top: 5px;
    left: 5px;
}



.header{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #ce93d8;
    border-radius: 50%;
}
.header-icon{
    color: white;
    font-size: 2.5rem;
}
.header-text{
    margin-top: 7.5px;
}


.class-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
}
.class-info p{
    font-weight: bold;
    margin-bottom: 2px;
}
.class-info small{
    color: grey;
}
.class-info .fa{
    font-size: 1.5rem;
}

.class-info-item{
    width: 80px;
}

.remark{
    text-align: left;
    padding: 10px 2px;
}
.remark-header{
    font-weight: bold;
    margin: 0 0 5px 0;
    font-size: 1.07rem;
}
.remark-text{
    margin: 0;
    color: grey;
    font-size: .9rem;
}


.class-operations-buttons{
    display: flex;
    gap: 0;
}
.class-operations-buttons .btn{
    height: 40px;
    background-color: transparent;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}
.class-operations-buttons .btn:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}
.class-operations-buttons .cancel-class-btn{
    color: #f44336;
    display: flex;
    align-items: center;
    gap: 10px;
}

.class-operations-buttons .edit-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-icon{
    font-size: 1.2rem;
}

.cancel-class-icon{
    font-size: 1.2rem;
    color: #f44336;
}


@media (max-width: 500px){
    .header{
        margin-top: 50px;
    }
    .class-preview-container{
        gap: 0;
        padding: 0 var(--container-mobile-side-padding);
    }
    .class-operations-buttons .btn{
        height: 30px;
        padding: 5px;
        margin: 0;
    }

    hr{
        width: calc(var(--hr-mobile-width) - calc(2 * var(--hr-height)));
        margin-left: calc(-1 * var(--container-mobile-side-padding));
    }
}