:root{
    --btn-theme-color: #0CEB43;
}

.participant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.participant .info{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    font-weight: bold;
}

.participant .buttons{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.participant .profile-picture{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.participant .btn{
    background-color: transparent;
    border-radius: 4px;
    height: max-content;
    padding: 5px;
    border: none;
}

.participant .btn:hover{
    cursor: pointer;
    filter: brightness(85%);
}

.participant .btn-checked{
    width: 75px;
    color: var(--btn-theme-color);
    border: 1px solid var(--btn-theme-color);
}

.participant .btn-unchecked{
    width: 75px;
    color: white;
    background-color: var(--btn-theme-color);
    border: 1px solid var(--btn-theme-color);
}


.participant .contact-btn{
    padding: 7.5px;
    font-size: 1.3rem;
    color: var(--btn-theme-color);
}
.participant .delete-btn{
    padding: 7.5px;
    font-size: 1.15rem;
    color: #f44336;
}


@media (max-width: 500px){
    .participant .info{
        gap: 5px;
    }

    .participant .contact-btn{
        padding: 3px;
    }
    .participant .delete-btn{
        padding: 3px;
    }
}